@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-bo;

}

:root{
    
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);



--White: hsl(0, 0%, 100%);
--Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue-1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);
}
body{
    padding-top: 10%;
  
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--Light-grayish-blue-1);
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color:gray;
}

div.accordion{
    width:650px;
    max-width:70vw;
    background-color: white;
    padding:30px 35px;
    border-radius: 15px;
    box-shadow: -10px -10px 15px var(--Light-grayish-blue-2);
}

div.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 20px;
}

div.title{
    display:flex;
    gap:13px;
    align-items: center;
}

p.notifications{
    font-weight: 900;
    font-size: 1.2rem;
    
}

span.name,
p.notifications{
    color:black;
}

span#number{
    background: var(--Blue);
    color:white;
    padding:2px 10px;
    border-radius:5px ;
    font-weight: bold;
}

div.mark-all > p{
    color:gray;
    cursor:pointer;
}

div.main{
    display:flex;
    flex-direction:column;
    gap:10px;
}

div.item{
    display:flex;
    padding:10px;
    
    border-radius:10px;

}

div.unread{
    background-color: var(--Very-light-grayish-blue);
}


div.read{
    background-color: inherit;
}

 .closed{
display:none;
}

div.content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    font-size: 15px;
}

div.read p.pointer{
    display:none;
}

p.pointer{
    width:7px;
    height:7px;
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
    display:inline-block;
    
}

div.testing{
    display:inline-flex;
   
}


span.for-commented{
    width:100px;
}


img{
    width:40px;
    padding-right:14px;
    
}

img.commented-img{
    width:50px;
    height:50px;
}
div.commented{
    position:relative;
}

span.name{
    font-weight: 900;
}

p#message{
   
    outline:1px solid var(--Grayish-blue);
    padding:11px;
    border-radius: 7px;
}

span.post{
    color:var(--Grayish-blue);
    font-weight: 900;
}

p.time{
    padding-top: 6px;
    padding-bottom: 6px;
}

#chess{
    color:var(--Blue)
}
/* active states */
span.name:hover,
div.mark-all:hover p,
span.post:hover {
    color:var(--Blue);
    cursor:pointer;
}

p#message:hover{
    background-color: var(--Light-grayish-blue-1);
    outline:none;
    cursor:pointer;
}

@media screen and (max-width:400px) {
    div.accordion{
        max-width: 80vw;
       padding:20px;
       font-size: .8rem;
    }

    div.content{
        font-size: .85rem;
    }
}

